
    <footer
    class="container-fluid fixed-bottom p-0 py-3 d-none d-sm-none d-md-block border border-warning border-bottom-0 border-end-0 border-start-0 border-5">
    <div class=" float-start h-100 col-12 text-center p-0 me-5"><span class="fs-2 col-center fw-bold">Proyecto
        Alba</span>
    </div>
    <div class=" float-start h-100 col-12 text-center p-0 me-5"><span class="fs-5 col-center">Creado por David Casado Moro-DAW-Diseño de Interfaces</span>
    </div>
  </footer>
