<header class="container-fluid border-bottom border-dark border-1">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-lg-2 d-none d-lg-block float-start align-items-center text-center px-0 py-0 "><a href="/"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
        img-fluid mx-auto;" src="../img/ProyectoAlbaRemove.png"></a></div>
      <div class="col-md-3 col-sm-3 col-4 d-lg-none float-start align-items-center text-center px-0 py-0 "><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
        img-fluid mx-auto;" src="../img/guest.png"><a id="botonusuario" href="/perfil" class="nombreperfil fw-bold text-dark text-decoration-none m-lg-4 m-xl-4 fs-4" ><%=usuario.nombre%></a></div>
      <div class="col-8 text-center align-self-center float-none ">
        <h1>Proyecto Alba</h1>
        <h4>Learning Environment</h4>
      </div>
      <div class="col-2 d-none d-md-none d-lg-block float-start text-center p-0"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
        img-fluid mx-auto pt-lg-1;" src="../img/guest.png"><a id="botonusuario2" href="/perfil" class="nombreperfil fw-bold text-dark text-decoration-none m-lg-4 m-xl-4 fs-4" ><%=usuario.nombre%></a></div>
    </div>
  </header>